<!-- extends base.html -->


{% extends 'ratings/base.html' %}	
{% block content %}
	
	<div>
		<h3> Give Rating to </h3>
		<ul>
			<li> 
				<a href = "{% url 'rate_passenger' %}"> Passenger </a>
			</li>
			<li>
				<a href = "{% url 'rate_driver' %}"> Driver </a>
			</li>
		</ul>
	</div>
	
	<div>
		<h3> View Rating of </h3>
		<ul>
			<li>
				<a href = "{% url 'view_rating_driver' %}"> Driver </a>
			</li>
			<li>
				<a href = "{% url 'view_rating_passenger' %}"> Passenger </a>
			</li>
		</ul>
	</div>

{% endblock content %}

