<!-- extends base.html -->


{% extends 'ratings/base.html' %}	
{% block content %}
	
	<hr>
	<div>
		<h3> Give Rating to </h3>
		
		<form action = "{% url 'rate_passenger' %}" method = "POST">
			{% csrf_token %}
			<input type= "text" name = "name" required></input>
			</br>
			<select name="new_rating" required>
				<option value = "1"> 1 </option>
				<option value = "2"> 2 </option>
				<option value = "3"> 3 </option>
				<option value = "4"> 4 </option>
				<option value = "5"> 5 </option>
			</select>
			<input type = "submit" value = "Rate Passenger">
		</form>
			
		</br></br>

		<form action = "{% url 'rate_driver' %}" method = "POST">
			{% csrf_token %}
			<input type = "text" name = "name" required></input>
			</br>
			<select name="new_rating" required>
				<option value = "1"> 1 </option>
				<option value = "2"> 2 </option>
				<option value = "3"> 3 </option>
				<option value = "4"> 4 </option>
				<option value = "5"> 5 </option>
			</select>
			<input type="submit" value = "Rate Driver">
		</form>
		
	</div>
	
	<div>
		<h3> View Rating of </h3>

		<form action="{% url 'view_rating_driver' %}" method = "GET">
			{% csrf_token %}
			<input type="text" name = "name" required></input>
			
			</br>
			<input type="submit" value="View Driver">
		</form>

		</br></br>
		
		
		<form action="{% url 'view_rating_passenger' %}" method = "GET">
			{% csrf_token %}
			<input type="text" name = "name" required></input>
			</br>
			<input type="submit" value="View Passenger">
		</form>
	
	</div>
	<hr>

{% endblock content %}

